.profile-section-one, .profile-section-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-left: 100px;
    margin-top: 90px;
    
  }
  
  .profile-section-two{
    margin-top: 50px;
    grid-template-columns: 1fr 2fr;
  }
  .profile-div-four{
    margin-left: 80px;
    line-height: 50px;
  }
  .profile-image{
    width: 150px;
    border-color: #6355ca;
    border: solid;
    border-radius: 50px;
    margin-bottom: 10px;
  }
  .strong{
      color: red;
  }
  .profile-p{
      margin-left: 30px;
  
  }
  #profile_btn-primary{
         color: #6355ca;
  }
  #btn-primary{
      width: 200px;
      height: 50px;
      padding: 5px;
      text-align: center;
      border-radius: 10px;
      border: 1px solid #fff;
      background-color: #6355ca;
      color: #fff;
      margin-top: -10px;
      margin-left: 5px;
     
  
      }
      #btn-primary:hover{
      background-color: #f2ac21;
      transition: all 1s ease-in;
  }
  
  .profile-h2{
    text-align: center;
    
  }
  .border-left{
    padding: 1px;
    background-color: #6355ca;
    margin-right: 5px;
  }
  
  .profile-div-two{
    background-color: #6355ca;
    color: white;
    width: 240px;
    height: 25px;
    text-align: center;
    margin-left: 290px;   
  }
  label{
    font-weight: bold;
  }
  .profile-label{
    font-weight: bold;
    line-height: 8px;
  }
  .profile-input{
      line-height: 15px;
      font-weight: 500; 
  }
  .letter-img{
      width: 100px;
  }
  
  @media (max-width: 767px) {
    /* Styles for screens smaller than 768px */
    .profile-section-one, .profile-section-two{ 
        grid-gap: 5px;
        margin-left: 20px;
        font-size: 12px;
        
    }
    
    .profile-section-two {
        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
        
        
    }
    .profile-div-four{
        margin-left: 40px;
        line-height: 20px;
        
    }
    .profile-div-three{
        margin-left: 50px;
    }
    .profile-div-two{
        margin-left: 300px;
        width: 110px;
        height: 10px;
        font-size: 8px;
        font-family: 'Times New Roman', Times, serif;
    }
    .profile-div-one a{
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif;
  
    }
    .profile-div-one{
        width: 180px;
  
    }
    .h2{
       margin-left: 10%;
       font-size: 8px;
       
    }
    span{
        font-size: 22px;
    }
   
  }
  @media (min-width: 768px) and (max-width: 991px) {
    /* Styles for screens between 768px and 991px */
    .profile-section-one, .profile-section-two{
        grid-gap: 30px;
        margin-left: 30px;    
    }
    
    .profile-div-two{
        margin-left: 100px;
    
    }
    .h2{
        margin-left: 5%;
        font-size: 8px;
        
     } 
  }
  @media (min-width: 992px) {
    /* Styles for screens larger than 991px */
    .profile-section-one, .profile-section-two{
        grid-gap: 30px;
        margin-left: 30px;
        
    }
    
    .profile-div-two{
        margin-left: 200px;
    
    }
    .h2{
        margin-left: 5%;
       
        
     }
    
    
  }
  @media(max-width: 540px) {
   
    .profile-section-one, .profile-section-two{
        grid-gap: 5px;
        margin-left: 30px;
        
    }
    
    .profile-div-two{
        margin-left: 100px;
    
    }
    .h2{
        margin-left: 5%;
        font-size: 8px;
        
     }
    
    
    
  }
  @media(max-width: 280px) {
    
    .profile-section-one, .profile-section-two{
        grid-gap: 5px;
        margin-left: 20px;
        max-width: 20px;
        
    }
    
    .profile-div-two{
        margin-left: 180px;
    
    }
    .h2{
        margin-left: 50%;
                
     }
     span{
         padding: 0px;
     }
     .strong{
         color: red;
     }
     
  }